#container {
	margin-top: 60px;
}

html {
  overflow-y:auto;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;

}

body {

  font-family: 'Montserrat', sans-serif;
  color: #fff;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/bg-main.jpg');
    background-size: cover;
    
}

#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#intro {
  position: absolute;
  left: 0;
  top: 50%;
  padding: 0 20px;
  width: 100%;
  text-align: center;
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #F39C12;
}


/* Is this a previous fix for the scrollbars? Do we need this anymore? 
::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */ /*
  background: transparent;  /* optional: just make scrollbar invisible */ /*
}

*/