#container {
	margin-top: 60px;
}


html, body {
  width: 100%;
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;

}
/* Container needed to position the button. Adjust the width as needed */
.container {
  position: relative;
  width: 100%;
}
header-1 {
  background-color: black;
  /*Opacity start*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.80;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  /*Opacity end*/
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  padding: 0;
  margin: 0;
}
#header #header-content {
  margin: 10px;
}
/* Make the image responsive */
.container img {
  width: 100%;
  height: auto;
}
.logoutLblPos{

  position:fixed;
  right:10px;
  top:5px;
}
/* Style the button and place it in the middle of the container/image */
.container-btn {
    position: absolute;
    top: 10%;
    left: 85%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}



.container .btn:hover {
  background-color: black;
}
body {

  font-family: 'Montserrat', sans-serif;
  color: #fff;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
	background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/bg-main.jpg');
    background-size: cover;
}  

.nav-item {
padding-right: 30px;
}

#particles {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#intro {
	position: absolute;
  left: 0;
  top: 50%;
  padding: 0 20px;
  width: 100%;
  text-align: center;
}

/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #F39C12;
}

@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);



.detailBox {
    border:1px solid #bbb;    
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
	
}

.commentList {
    padding:0;
    list-style:none;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
   	margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
	float: left;
}

.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
	float: left;
}
.actionBox {
    border-top:1px dotted #bbb;
   padding:10px;
}

.navbar-light .navbar-nav .nav-link {
    color: #F39C12;
}
.navbar-light .navbar-text a {
    color: #F39C12;
}


/* Is this a previous fix for the scrollbars? Do we need this anymore? 
::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */ /*
  background: transparent;  /* optional: just make scrollbar invisible */ /*
}

*/